<section id="contacto">
    <div class="divider"></div>
    <div class="div-contacto">
        <h2>CONTACTO</h2>
        <!--Formulario-->
        <form class="form" id="formulario">
            <div class="form-caja">
                <label for="nombre" class="form-label"> Nombres</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres" required>
                <label for="apellido" class="form-label"> Apellidos</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellidos" required>
                <label for="email" class="form-label"> Correo electrónico</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="example@example.com" required>
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Asunto" required></textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
        </form>
        <!--Fin Formulario-->
    </div>
</section>