<div class="nav-content">
    <!--Menú de navegación-->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/Logo Original con Texto.png" alt="Logo Asados Umaña"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="button" routerLink="presentacion" href="">Home</a>
                <a class="button active" routerLink="acerca" href="">¿Quiénes somos?</a>
                <a class="button" routerLink="servicio" href="">Servicio</a>
                <a class="button" routerLink="lista/productos" href="">Producto</a>
                <a class="button" routerLink="contacto" href="">Contacto</a>
                <a class="button active" (click)="onSubmit()">Administrar BD</a>
            </div>
        </div>
    </nav>
</div>

<!--<router-outlet></router-outlet>-->