<section id="servicio" class="content">
    <h2>NUESTROS SERVICIOS</h2>
    <p>Nuestros platos se caracterizan por ser 100% colombianos y contar con un exquisito sabor costeño.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="divider"></div>
                <div class="card-body">
                    <div class="card-body text">
                        <a data-bs-toggle="collapse" href="#collapse001" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="../../assets/bandeja-de-comida.png" alt="Platos">
                            <h3 class="card-title">SERVICIO DE RESTAURANTE</h3>
                        </a>
                        <div class="collapse" id="collapse001">
                            <div class="card card-body two">
                                <p>Asados al carbón, almuerzos, pescados, una variedad en sus productos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="divider"></div>
                <div class="card-body">
                    <div class="card-body text">
                        <a data-bs-toggle="collapse" href="#collapse002" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="../../assets/repartidor.png" alt="Domicilios">
                            <h3>SERVICIO DE DOMICILIO</h3>
                        </a>
                        <div class="collapse" id="collapse002">
                            <div class="card card-body two">
                                <p>Para que gozen de nuestra sazón sin salir del hogar, desde las 8 am hasta 8 pm de lunes a sabados,
                                    domingos y festivos de 11 am a 5 pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="divider"></div>
                <div class="card-body">
                    
                    <div class="card-body text">
                        <a data-bs-toggle="collapse" href="#collapse003" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="../../assets/fecha-especial.png" alt="Fechas Especiales">
                            <h3>FECHAS ESPECIALES</h3>
                        </a>
                        <div class="collapse" id="collapse003">
                            <div class="card card-body two">
                                <p>Te brindamos Nuestros servicios en celebraciones tales como, aniversarios, cumpleaños, día de la madre y muchas más, brindádote la oportunidad de alquilar nuestro local o hacer tus reservas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>