/*INICIO (PRESENTACIÓN)*/
#inicio {
    text-align: center;
}

#inicio img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    height: 150px;
}

.cardd-body {
    margin-left: 5px;
    height: 200px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 1.5px #C14A0E, inset 0px -2px 1.5px #914119;
}