<section id="inicio" class="content">
    <h2>PRESENTANCIÓN</h2>
    <p>Asados Umaña es una restaurante ubicado en Necoclí, con el fin de ser uno de los mejores en el asado de
        carnes, satisfaciendo a si las necesidades de los clientes, este restaurante ofrece una variedad de
        platillos, según los gustos de los clientes.</p>
    <div>
        <!--Lista no ordenada-->
        <h3>NUESTROS VALORES</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../../assets/compromiso.png" alt="">
                    Compromiso
                </div>
                <div class="col">
                    <img src="../../assets/responsabilidad.png" alt="">
                    Responsabilidad
                </div>
                <div class="col">
                    <img src="../../assets/eficiencia.png" alt="">
                    Eficiencia
                </div>
                <div class="col">
                    <img src="../../assets/ordenado.png" alt="">
                    Orden
                </div>
                <div class="col">
                    <img src="../../assets/respeto.png" alt="">
                    Respeto
                </div>
            </div>
        </div>
        <!--Fin Lista-->
    </div>
</section>