<app-cabecera></app-cabecera>
<app-presentacion></app-presentacion>
<app-acerca></app-acerca>
<app-servicio></app-servicio>
<app-producto></app-producto>
<section class="content-video">
    <div class="video-container">
        <div class="divider"></div>
        <div class="embed-responsive embed-responsive-16by9">
            <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="https://video.wixstatic.com/video/cc379c_f896bb5cff0742ed8b2d30daf1e6ff53/360p/mp4/file.mp4"
                type="video/mp4" />
            </video>
        </div>
        <div class="divider"></div>
    </div>
</section>
<app-contacto></app-contacto>
<app-pie></app-pie>