<section id="acerca" class="content">
    <h2>QUIÉNES SOMOS</h2>
    <p>Asados Umaña es una restaurante ubicado en Necoclí. Donde brindamos los mejores platillos con carne asada.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>MISIÓN</h3>
                <p>Nunc id lacus et felis tempus molestie sed imperdiet nisi. Aliquam eleifend ut odio ac commodo. Nam eget
                felis pharetra, elementum quam posuere, rhoncus justo. Ut nec maximus turpis. Quisque egestas vel enim
                at dapibus. Fusce vulputate lacus ut tellus lacinia egestas sit amet vitae ex. In mauris turpis, pretium
                condimentum vulputate nec, malesuada blandit augue. Curabitur ut consequat turpis, placerat mollis mi.
                Donec sit amet ultricies arcu, at efficitur eros. Sed elementum nec augue malesuada maximus.</p>
            </div>

            <div class="col-sm-6">
                <h3>VISIÓN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ut sapien nec porta. Nunc nec
                augue ullamcorper, maximus nisl et, porttitor turpis. Duis ultrices ipsum tortor, vitae lacinia leo
                sodales vel. Donec vulputate vitae sapien sit amet mattis. Aliquam at mi lorem. Sed magna eros, eleifend
                nec odio eget, pharetra interdum ex. Ut volutpat eu nisi eu bibendum. Vivamus.</p>
            </div>
        </div>
    </div>
</section>