#menu .divider {
    border-top: 1px solid #914119;
    margin: 0 auto;
}

.content img {
    display:block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;

    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    transition: filter 0.5s ease-in-out;
}

.content h2 {
    text-align: center;
}

.content ul {
    padding: 4%;
    list-style-type: none;
    text-align: left;
}

.content li {
    text-align: center;
    border-radius: 10px;
    background-color: #212121;
    border: 1px solid #212121;
    box-shadow: inset 0 0 5px #C14A0E;

}

#img {
    padding: auto;
    border: #212121 1px solid;
    border-radius: 30px;
    background-color: #212121;
    /*box-shadow: inset 0px 1px 5px 3px #C14A0E;*/
    box-shadow: inset 10px 10px 50px #C14A0E, inset -10px -10px 50px #914119;
    /*box-shadow: inset 50px 50px 50px #C14A0E;*/
    margin-bottom: 5px;
}

#titulo {
    color: #C14A0E;
    /*border-bottom: 2px solid #f77c09;*/
    font-weight: bold;
    text-align: center;
    font-size: larger;
    margin-bottom: 5px;
    color: #212121;
    box-shadow: inset 50px 50px 50px #C14A0E;
}

.list-group a {
    color: #928c8c;
    text-decoration: none;
}

.list-group a:hover {
    color: #837d7d;
}

.card-body {
    height: 50px;
    background-color: #914119;
    color: #b4aeae !important;
    box-shadow: inset 2px 1px 1px #212121, inset -2px 1px 1px #212121;
}