<section id="home">
    <h1>ASADOS UMAÑA EL MEJOR EN EL SABOR DE LA <strong id="ca">CARNE ASADA</strong>.</h1>
    <div class="divider"></div>
    <p>La mejor opción si deseas conocer el verdadero sabor de la carne asada.</p>
    <h6>REDES SOCIALES</h6>
    <div class="social" >
        <a href="https://www.facebook.com/jimmy.cardenaslopez.3" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/asados_umana/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
</section>